.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: #fecdaa;
}

.GenreList {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.GenreButton {
  padding: 0.4rem;
  font-size: 1rem;
}

.GenreButton:hover {
  background: #a8c0ff;
  font-weight: bold;
}

.recommendationCard {
  width: 50%;
  background-color: #fbfef9;
  padding: 0.6rem;
  margin: 0.6rem auto;
  border-radius: 3px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #8075ff;
}
